@import '@/assets/styles/var';
@import '@/components/Layout/common/SideBar/index.less';

.dvis-side-bar {
  width: @component-menu-width;
  flex-shrink: 0;
  background-color: #fff;
  padding: 16px 0 32px 32px;

  .group {
    margin-bottom: 24px;
  }
}
