/*
 * @Descripttion: 
 * @version: 0.0.1
 * @Author: Hansel
 * @Date: 2021-12-07 14:40:44
 * @LastEditors: Please set LastEditors
 * @modify: 2022-04-15 16:19:54
 */
.dvis-common-container {
  h1 {
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    letter-spacing: 0.8px;
    color: rgba(50, 65, 104, 1);
  }

  section:first-of-type {
    margin-bottom: 42px;
  }

  section:not(section:first-of-type) {
    margin-bottom: 36px;
  }

  /**
  * 重写输入框样式
  */

  .search-bar {
    padding: 0 20px;

    .dvis-input {
      letter-spacing: 1.4px;

      input {
        border: none;
        height: 54px;
        background-color: #fff;
        border-radius: 50px;
        padding-right: 140px;
      }

      .search-filters {
        display: flex;
        cursor: pointer;
        align-items: center;
        transition: all 0.25s ease-in;

        .dvis-icon {
          margin-right: 12px;
        }

        &:hover {
          opacity: 0.8;
          color: rgba(147, 160, 171, 1);
        }
      }
    }
  }

  .group {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-items: center;

    /* 分组 */
    .carousel {
      width: 100%;
      height: 64px;
      overflow: hidden;
      position: relative;
      border-radius: 12px;

      .dvis-card {
        top: 0;
        left: 0;
        cursor: pointer;
        // overflow: hidden;
        margin-right: 12px;
        position: absolute;
        transition: all 0.3s linear;

        &:hover .effect {
          opacity: 1;
        }

        .effect {
          top: 0;
          left: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
          font-weight: 400;
          position: absolute;
          backdrop-filter: blur(8px);
          transition: opacity 0.3s linear;
          -webkit-backdrop-filter: blur(8px);
          background: rgba(255, 255, 255, 0.45);

          i {
            margin: 0;
            width: 32px;
            height: 32px;
            cursor: pointer;
            border-radius: 50%;
            transition: background-color 0.3s linear;
            margin: 0;
          }
        }
      }

      .dvis-card(@i) when (@i<10) {
        // TODO 多容器left 问题
        .dvis-card:nth-of-type(@{i}) {
          left: calc(154px * (@i - 1));
        }

        .dvis-card((@i + 1));
      }

      .dvis-card(1);
    }

    .pagination {
      opacity: 0;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      &:nth-of-type(1) {
        margin-right: 8px;
      }
      &:nth-of-type(2) {
        margin-left: 8px;
      }
    }

    &:hover .pagination {
      opacity: 1;
    }
  }

  .my-assets {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));

    & > div {
      margin-top: 16px;
    }

    //   .d-visiual {
    //     height: 80%;
    //     background-repeat: no-repeat;
    //     background-clip: border-box;
    //   }
  }
}
