.dvis-input {
  position: relative;

  /* prefix suffix*/
  &.prefix input {
    padding-left: 0.8rem;
  }
  &.suffix input {
    padding-right: 1rem;
  }
  .input-prefix,
  .input-suffix {
    top: 0;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;

    i {
      color: #788896;
      font-size: 1.3rem;
    }
  }

  .input-prefix {
    transform: translate(10px, 0px);
  }

  .input-suffix {
    right: 0;
    transform: translate(-20px, 0px);
  }

  /* size */
  &[data-size='large'] {
    input {
      font-size: 16px;
      padding: 14px 24px;
    }
  }
  &[data-size='default'] {
    input {
      font-size: 14px;
      padding: 0.8rem 0.8rem;
    }
  }

  input {
    @placeholder-color: #a0a3bd;

    color: #a0a3bd;
    font-family: 'Poppins';
    width: 100%;
    letter-spacing: 0.8px;
    box-sizing: border-box;
    transition: border ease-in 0.3s;
    background: #eff0f7;
    border: 0.15rem solid transparent;

    &::-webkit-input-placeholder {
      color: @placeholder-color;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: @placeholder-color;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: @placeholder-color;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: @placeholder-color;
    }

    &[round] {
      border-radius: 16px;
    }

    &:focus-visible {
      outline: none;
      border: 0.15rem solid #6558f5;
    }

    // &.error {
    //   border: 0.15rem solid #f56c9b;
    // }
  }

  .input-prefix ~ input {
    padding-left: 2.2rem;
  }

  .input-suffix ~ input {
    padding-right: 2.2rem;
  }
}
