* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  /** 
  * 全局变量
  */
  --data-visiualize-header-height: 3rem;
  --data-visiualize-side-bar-width: 20rem;
  --data-visiualize-side-bar-width-minus: -20rem;
  --data-visiualize-offset-shadow: 0 0 transparent;
}
