* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.dvis-empty-page.loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.1rem;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
}

.dvis-empty-page .cls-signal {
  border: 0.2rem solid #fff;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  opacity: 0;
  animation: signal 2s ease-in-out infinite;
}

.dvis-empty-page .content {
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  position: relative;
}

.dvis-empty-page .content::after {
  top: 0%;
  bottom: 0;
  content: '';
  line-height: 1rem;
  position: absolute;
  animation: dot 4s infinite steps(3, start);
}

@keyframes signal {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes dot {
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '....';
  }
}
