@import '@/assets/styles/var';
.dvis-editor-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: @dvis-header-height;
  background-color: #fff;

  title {
    display: unset;
    font-size: 24px;
    color: #e84393;
    font-weight: bold;
    margin-bottom: 32px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    line-height: @dvis-header-height;
  }

  aside,
  main {
    display: flex;
  }

  main {
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    font-family: italic;
    letter-spacing: 0.1rem;

    label {
      margin-right: 0.5rem;
    }

    cite {
      border-radius: 10px;
      transition: all 0.3s;
      padding: 0.1rem 1rem;
      border: 2px solid rgb(0 0 0 / 0%);

      &:hover {
        border: 2px solid #333;
      }

      &:focus-visible {
        outline: none;
        border: 2px solid #333;
      }
    }
  }

  .button-group-right {
    border-left: 0.1rem solid #edf1f5;
  }
}
