.dvis-form {
  text-align: left;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dvis-error-msg {
  margin-top: 0.2rem;
  color: #f56c9b;
  font-size: 0.8rem;
}
