@import '@/assets/styles/var';
.dvis-editor-container {
  @margin-top: 1.2rem;

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  main {
    width: 100%;
    overflow: hidden;
    background-color: rgb(240, 244, 247);

    .content {
      height: 100%;
    }

    .editor-content {
      overflow: hidden;
      width: 100%;
      height: 100%;
      padding: 38px;
      box-sizing: border-box;
    }

    .property {
      color: #000;
      height: 100%;
      display: block;
      z-index: 10;
      width: 0;
      box-sizing: border-box;
      border-top: 0.1rem solid #edf1f5;
      border-left: 0.1rem solid #edf1f5;
      background-color: rgb(255, 255, 255);
      transition: all 0.3s ease-in-out;

      &.show-proerty {
        width: @property-menu-width;
      }
    }
  }
}
