main {
  background-color: #f0f4f7;
  height: calc(100% - var(--data-visiualize-header-height));
}

aside {
  top: 0;
  left: 0;
  height: 100vh;
  position: absolute;
  transition: transform ease 0.3s;
  transform: translateX(var(--data-visiualize-side-bar-width-minus));
}
