
/* TODO 迁移到index.less */
body {
  /** 
  * 全局变量
  */
  --dvis-header-height: 3rem;
  --dvis-side-bar-width: 274px;
  --dvis-side-bar-width-minus: -20rem;
  --dvis-offset-shadow: 0 0 transparent;
  --dvis-default-background: linear-gradient(180deg, #755bea, #ff72c0);
  --dvis-default-color: linear-gradient(90deg, rgba(117, 91, 234, 1), rgba(255, 114, 192, 1));
  --dvis-editor-header-height: 3rem;
}

.dvis-error-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dvis-common-container {
  width: 100%;
  height: 100%;
  padding: 38px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: #f6f9ff;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

/**
  * content menu 样式
  */
/* .mx-context-menu-item {
  cursor: pointer;
} */

/** 
  * nprogress 背景样式
  */
#nprogress .bar {
  height: 3px;
  background: linear-gradient(90deg, #755bea, #ff72c0);
}
/** 
  * 滚动条
  */
/* .dvis-scroll-bar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: white;
} */
/* .dvis-scroll-bar::-webkit-scrollbar-corner, /* 滚动条角落 */
/* .dvis-scroll-bar::-webkit-scrollbar-thumb,
.dvis-scroll-bar::-webkit-scrollbar-track {
  border-radius: 10px;
} */
/* .dvis-scroll-bar::-webkit-scrollbar-corner,
.dvis-scroll-bar::-webkit-scrollbar-track {
  /* 滚动条轨道 */
  /* background-color: rgba(180, 160, 120, 0.1);
  box-shadow: inset 0 0 1px rgba(180, 160, 120, 0.5);
}
/* .dvis-scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgba(157, 161, 168, 0.8);
} */
